header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)), url("https://imgur.com/SF3IyLv.jpg");
    height: 100vh;
    background-attachment: fixed;

    .nav-menu{
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        
    }
    .nav-menu li a{
        color: white;
        text-decoration: none;
        margin-left: 50px;
        font-size: 20px;
    }
    
    .nav-menu li a:hover,
    .nav-menu li a:visited{
        border-bottom: solid 2px white;
        transition: 0.2s;
    }
}