@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
}

h2{
    text-align: center;
    padding-top: 40px;
}
h2::after{
    display: block;
    height: 2px;
    background-color:  #5f2b2a;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

header{
    background-color:  #ac7964;
    height: 100vh;
}



.nav-menu{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    
}

.nav-menu li a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
}

.nav-menu li a:hover{
    border-bottom: solid 2px white;
    transition: 0.2s;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;

}

.hero-img img{
    border-radius: 500px;
    width: 250px;
    padding: 50px;
}

.hero-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-box a{
    color: white;
    border:  white 2px solid;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    margin: 30px;
}

.hero-box a:hover{
    background-color:  #5f2b2a;
    border:   #5f2b2a 2px solid;
    transition: 0.2s;
}


/* about sectio */

/* .about-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
} */
#abaut{
    margin: 10px 0;
}




.parrafo1 p{
    background-color:  #e6d4c8;
    padding: 30px;
     margin: 30px 50px;
    text-align: center;
    height: auto; 

}


/* .about-img{
    background-color: white;
    padding: 50px;
    margin:auto  70px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
}
 
.about-img img{
    padding: 20px;
}  */


/* experiencia/*  */ 



.experience{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.experience_item{
    margin: 14px;
    text-align: center;
    height: 300px;
    width: 180px;
    padding: 4px;
}

.experience img{
    margin: 50px;
    width: 40px;
    height: 40px;
}

.experience-music,
.experience-programing,
.experience-sales{
    width: 30%;
}
/* .favorite-things */

.favorite-things{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.favorite-things__item{
    width: 40%;
    height: 200px;
    margin: 20px;
    background-color: rebeccapurple;

.favorite-things__item img{
    margin: 10px;
    height: 83%;
    width: 96%;
    object-fit: contain;
    padding-top: 20px;
}

/* social media */

.social-media{
    height: 70vh;
    background-image: url(./assets/img/jujutsu-kaise-social-media.jpg);
}

.social-media h2{
    color: white;
}
