@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
}

h2{
    text-align: center;
    padding-top: 40px;
}
h2::after{
    display: block;
    height: 2px;
    background-color:  #5f2b2a;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)), url("https://imgur.com/SF3IyLv.jpg");
    height: 100vh;
    background-attachment: fixed;
}



.nav-menu{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    
}

.nav-menu li a{
    color: white;
    text-decoration: none;
    margin-left: 50px;
    font-size: 20px;
}

.nav-menu li a:hover,
.nav-menu li a:visited{
    border-bottom: solid 2px white;
    transition: 0.2s;
}


.hero{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;

}

.hero-img img{
    border-radius: 500px;
    width: 250px;
    margin: 50px 50px 10px 50px;
    
}

.hero-img :hover{
    transform: scale(0.95);
    transition: 00.2s;
}

.hero-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero-box a{
    color: white;
    border:  white 2px solid;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    margin: 30px;
}

.hero-box a:hover{
    background-color:  #c19586;
    border:   #c19586 2px solid;
    transition: 0.2s;
    transform: scale(0.95);
}


/* about sectio */

/* .about-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
} */
#abaut{
    margin: 10px 0;
    align-items: center;
}




.parrafo1 {
    background-color:  #c19586;
    background-size: cover;
    background-position: center;
    margin: 50px auto;
    padding: 30px 0;
    font-size: 18px;
    color: white;
    text-align: center;
    width: 67%;

}
.parrafo1 p{
    padding: 40px;
}


/* experiencia/*  */ 

.experience{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    
}

.experience_item{
    margin: 14px;
    text-align: center;
    height: 300px;
    width: 180px;
    padding: 4px;
    
}

.experience img{
    margin: 50px;
    width: 40px;
    height: 40px;
}

.experience-music,
.experience-programing,
.experience-sales{
    width: 30%;
}

/* .favorite-things */

h3{
    letter-spacing: 3px;
}

h3 :hover{
    color:  #8d4d42;
}

.favorite-things{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    
}

.favorite-things__item{
    margin: 40px 14px;
    text-align: center;
    height: 400px;
    width: 290px;
    padding: 4px;
    box-shadow:
  2.1px 4.3px 5.3px rgba(0, 0, 0, 0.064),
  6.9px 14.3px 17.9px rgba(0, 0, 0, 0.088),
  31px 64px 80px rgba(0, 0, 0, 0.14)
;

}

.favorite-things__item img{
    height: auto;
    width: 250px;
    object-fit: contain;
    padding-top: 20px;
} 

.favorite-things__item img:hover{
    transform: scale(0.95);
    transition: 00.2s;
}

/* SKILLS */

.skills{
    background-image: linear-gradient(rgb(211 211 211 / 64%),#ac7964), url(https://imgur.com/SF3IyLv.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px 0 0 0;
    padding: 50px 30px;
}



.skills__container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;
}

.skills__container li{
    padding: 18px;
}

.skills__container li img{
    width: 50px;
}

.cv{
    padding-bottom: 40px;
}

.skills__cv a{
    color: black;
    border:  black 2px solid;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    margin: 30px;
}

.skills__cv a:hover{
    /* background-color:   #22090c; */
    color: #22090c ;
    font-weight: bolder;
    border:  #22090c 3px solid;
    transform: scale(0.95);
    transition: 0.2s;
    
}

/* otra cosa */


.otracosa{

    margin: 70px auto;
}

/* footer */

footer{
    background-color:   #a97e70;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px 10px 10px;
}

.social-media__item{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media__item li a{
    text-decoration: none;
}

.social-media__item li a img{
    margin: 20px;
}

.copyright{
    color: white;
    padding-top: 20px;
}